.footer {
    background-color: #3c3e44;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer a {
    text-decoration: none;
    font-size: 25px;
    line-height: 20px;
    font-weight: bold;
    color: white;
}

.footer a:hover {
    font-size: 35px;
    color: #272b33;
}